.banner{
  width: 100%;
  outline-style: solid;
  outline-color: white;
  border-radius: 20px;
}

.padded{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  outline-style: solid;
  outline-color: white;
  border-radius: 20px;
}

.inline-block{
  display: inline-block;
}

.inline-link{
  color: #fdedec;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.blue-text{
  color: #0151ca;
}

.overline{
  text-decoration-line: overline underline;
}

#tab-bar{
  display: flex;
  margin-bottom: 20px;
  background-color: rgba(250,250,250,.75);
  outline-style: solid;
  outline-color: white;
  padding: 10px;
  border-radius: 20px;
  color: #e74c3c;
  gap: 20px;
  padding-left: 20px;
}

html{
  background-color: #ee8277;
  margin: 20px;
  
}

body{
  max-width: 800px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

text{
  color: white;
  font-family: sans-serif;
  font-size: 16px;
}

.highlighted{
  background-color: yellow;
  color: black;
}
